.call_me_maybe {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    background-color: #ffffe6;
    margin-right: auto;
    margin-left: auto;
}

#twitchLocate {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sapients {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.channel_remove {
    float: right;
    padding-right: 2%;
}

img {
    width: 100px;
    height: 100px;
}